a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1, #logo-text, #hook {
	font-family: 'Amaranth', sans-serif;
  color: #0A3C5C;
}

h1 {
  font-size: 70px;
}

li {
  list-style: none;
}

#background {
  background-image: url('../assets/background-image.jpg');
  background-size: cover;
  width: 100%;
  height:100vh;
}

#hook {
  margin-bottom: 20px;
}

#logo-text {
  font-size: 40px;
  margin-left: 5px;
}

#logo-small {
  margin-left: 30px;
  margin-bottom: 15px;
}

#sign_out {
  float:right;
  color: #333;
  padding-right: 20px;
}

#start-course {
  margin-top: 30%;
}

.buttons {
  margin-top: 5%;
  text-align: center;
}

.container-box {
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 22%;
  padding-bottom: 30px;
}

.course-buttons {
  margin-top: 8%;
}

.course-header {
  font-family: 'Titillium Web', sans-serif;
  margin-bottom: 20px;
}

.course-image {
  width:80%;
  height: 80%;
}

.course-name {
  color:#00976b;
  font-family: 'Titillium Web', sans-serif;
}

.course-name:hover {
  color:#1cca97;
}

.course-name-current {
  color:#fff;
  font-family: 'Titillium Web', sans-serif;
}
.course-name-current:hover {
  color:#00976b;
}

.course-provider {
  font-family: 'Titillium Web', sans-serif;
  color: #888;
}

.course-provider-current {
  font-family: 'Titillium Web', sans-serif;
  color: #e8e8e8;
}

.course-tabs {
  font-family: 'Titillium Web', sans-serif;
  font-size: 15px;
}

.green-button {
  background-color: #1cca97;
  font-size: 24px;
  font-family: 'Titillium Web', sans-serif;
  min-width: 300px;
  margin-top: 10px;
}

.green-button:hover {
  color: #0A3C5C;
  font-weight: bold;
}

.my-course-image {
  margin-top: 15%;
  max-width: 100px;
  max-height: 80px;
  margin-right: 15px;
}

.glyph-bigger {
  font-size: 1.6em;
  color: #1cca97;
  margin-top: 40px;
}

.glyph-bigger-white {
  font-size: 1.3em;
  color: #fff;
  margin-right: 3px;
}

.glyph-inactive {
  color: #333;
}

.glyph-active {
  color: #1cca97;
  font-size:1.5em
}

.navbar {
  margin-bottom: 0;
}

.navbar-item {
  display: inline-block;
  margin-bottom: 10px;
}

.well-green {
  background-color: #1cca97;
}


