h1, #logo-text{
	font-family: 'Amaranth', sans-serif;
}

h1 {
  font-size: 70px;
  opacity: 1;
}

li {
  list-style: none;
}
.navbar {
  margin-bottom: 0;
}

.well-green {
  background-color: #1cca97;
}

#background {
  background-image: url('../assets/background-image.jpg');
  background-size: cover;
  width: 100%;
  height:100vh;
}

#sign_in, #register {
  color: #1cca97;
  text-decoration: none;
  font-weight: bold;
}

#sign_in:hover, #register:hover{
  color: #00976b;
}

#logo-text{
  font-size: 40px;
  text-decoration: none;
  color: #333;
  margin-left: 5px;
}

#sign_out {
  float:right;
  color: #333;
  padding-right: 20px;
}

#sign_in{
	font-size: 30px;
	margin-left:20px;
}

#register{
	font-size: 30px;
	margin-left: 30px;
}

#logo-small{
  margin-left: 30px;
  margin-bottom: 15px;
}

#start-course{
  margin-top: 30%;
}

.navbar-item {
  display: inline-block;
  margin-bottom: 10px;
}

.container-box {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius:10px;
  margin-top: 20%;
  padding-bottom: 30px;
}

.course-header{
  font-family: 'Titillium Web', sans-serif;
  margin-bottom: 20px;
}

.course-buttons {
  margin-top: 8%;
}

.course-provider-current{
  font-family: 'Titillium Web', sans-serif;
  color: #e8e8e8;
}
.course-name {
  color:#00976b;
  font-family: 'Titillium Web', sans-serif;
}

.course-name-current{
  color:#fff;
  font-family: 'Titillium Web', sans-serif;
}
.course-name-current:hover {
  color:#00976b;
  text-decoration: none;
}

.course-tabs{
  font-family: 'Titillium Web', sans-serif;
  font-size: 15px;
}

.course-provider{
  font-family: 'Titillium Web', sans-serif;
  color: #888;
}

.course-name:hover {
  color:#1cca97;
  text-decoration: none;
}
.buttons {
  margin-top: 5%;
  text-align: center;
}

.my-course-image {
  margin-top: 15%;
  max-width: 100px;
  max-height: 80px;
  margin-right: 15px;
}

.bigger-glyph{
  font-size: 1.6em;
  color: #1cca97;
  margin-top: 40px;
}

.bigger-glyph-white{
  font-size: 1.3em;
  color: #fff;
  margin-right: 3px;
}