<div class="container-fluid">
	<h2 class="text-center">My Courses</h2>
	<div id="interested" class="col-md-4">
		<h3>Interesting Courses</h3>
		<ul>
			<li class="interesting" ng-repeat="course in userCoursesCtrl.interestingCourses">
				<div class="course-name">Title: {{course.name}}</div>
				<div class="course-provider">Organisation: {{course.provider}}</div>
			</li>
		</ul>
	</div>

	<div id="current" class="col-md-4">
		<h3>Current Courses</h3>
		<ul>
			<li class="current" ng-repeat="course in userCoursesCtrl.currentCourses">
				<div class="course-name">Title: {{course.name}}</div>
				<div class="course-provider">Organisation: {{course.provider}}</div>
			</li>
		</ul>
	</div>

	<div id="completed" class="col-md-4">
		<h3>Completed Courses</h3>
		<ul>
			<li class="completed" ng-repeat="course in userCoursesCtrl.completedCourses">
				<div class="course-name">Title: {{course.name}}</div>
				<div class="course-provider">Organisation: {{course.provider}}</div>
			</li>
		</ul>
	</div>
</div>
