<div class="container-fluid">
      <div class="row">
         <div class="col-md-8 col-md-offset-2">
            <form ng-submit="modulesCtrl.addNewModule()" class="text-center">
              <div class="row margin-top-20">
                  <div class="col-md-12">
                    <h2>Modules</h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h3>{{modulesCtrl.course.name}}</h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <img class="course-image thumbnail center-block" ng-src="{{modulesCtrl.course.image}}">
                  </div>
                </div>
              <div class="row">
                <div class="col-md-6 col-md-offset-3">
                  <input type="text"
                         autofocus="autofocus"
                         class="form-control"
                         id="module-input"
                         ng-model="modulesCtrl.moduleName"
                         placeholder="Enter new module"
                         required>
                    </div>
                  </div>
                </form>
            <ul>
               <li ng-repeat="module in modulesCtrl.modules" ng-mouseover="modulesCtrl.hoverIn()" ng-mouseleave="modulesCtrl.hoverOut()" ng-dblclick="modulesCtrl.editMode = true">
                  <div class="row">
                    <div class="col-md-2 col-s-2 col-xs-2 check-box">
                      <div class="checkbox-custom">
                        <form>
                          <input type="checkbox" value="1" ng-model="module.complete" ng-click="modulesCtrl.editModule(module)" id="{{$index}}" />
                          <label for="{{$index}}"></label>
                        </form>
                      </div>
                    </div>
                    <div class="col-md-7 col-s-8 col-xs-8">
                        <h3 ng-class="{'done-true': module.complete, 'done-false': !module.complete}" ng-hide="modulesCtrl.editMode">
                          {{module.title}}
                        </h3>
                        <form ng-show="modulesCtrl.editMode" ng-submit="modulesCtrl.editModule(module)">
                          <input type="text" class="form-control to-do" ng-model="module.title"/>
                        </form>
                    </div>
                    <div class="col-md-3 col-s-3 col-xs-3 module-buttons">
                      <span ng-show="modulesCtrl.hoverEdit" class="animate-show">
                        <a class="remove" ng-click="modulesCtrl.deleteModule(module)">
                          <span class="glyphicon glyphicon-trash glyph-bigger"></span>
                        </a>
                      </span>
                    </div>
                  </div>
                </li>
            </ul>
            <div class="margin-top-20">
              <h5 class="text-center margin-top-20">Go back to my courses <a href="#/mycourses">here</a></h5>
            </div>
         </div>
      </div>
   </div>
</div>