<form ng-submit="course.addNewModule()">
   <input type="text" ng-model="course.moduleName" placeholder="Enter new module">
</form>
   <div>
      <ul>
         <li ng-repeat="module in course.modules">
            <div class="row">
               <div class="col-md-1 col-s-5 col-xs-4">
                  <h4>{{module}}</h4>
               </div>
                <a class="check-module" id="check-module"><span class="glyphicon glyphicon-ok"></span></a>
               <a class="edit-module" id="edit-module"><span class="glyphicon glyphicon-pencil"></span></a>
               <a class="remove" ng-click="course.removeChoice()"><span class="glyphicon glyphicon-trash"></span></a>
            </div>
          </li>
      </ul>
   </div>
