  <div class="container-fluid">
    <div class= "text-center col-md-4 col-md-offset-4">
      <div class="row margin-top-20">
        <h3 class="header">Create a new course</h3>
          <form id="submit-login" ng-submit="create.createCourse()" role="form">
            <div class="col-md-6 col-md-offset-3">
              <div class="form-group">
                <input type="name"
                       name="name"
                       autofocus="autofocus"
                       id="email"
                       ng-model="create.courseName"
                       required="required"
                       class="form-control"
                       placeholder="Course Name">
              </div>
              <div class="form-group">
                <input type="url"
                       name="course-url"
                       autofocus="autofocus"
                       id="course-url"
                       ng-model="create.courseUrl"
                       required="required"
                       class="form-control"
                       placeholder="Course URL">
              </div>
              <div class="form-group">
                <input type="url"
                       name="image-url"
                       id="image-url"
                       ng-model="create.imageUrl"
                       class="form-control"
                       placeholder="Image URL">
              </div>
              <div class="row">
                <div class="col-md-10">
                  <h4 class="add-to-enrolled">Add to my enrolled courses?</h4>
                </div>
                <div class="col-md-2 col-s-2 col-xs-2 check-box">
                  <div class="checkbox-custom">
                    <form>
                      <input type="checkbox" ng-model= "create.courseStatus" ng-true-value="'in progress'" ng-false-value="'interested'" id="enrolled" />
                      <label for="enrolled"></label>
                    </form>
                  </div>
                </div>
              </div>
            <div>
               <button id="submit" type="submit" class="btn btn-green-small btn-success">
                Add
              </button>
            <div>
              <h5 class="text-center margin-top-20">Go back to my courses <a href="#/mycourses">here</a></h5>
            </div>
            </div>
            </div>
          </form>
        </div>
    </div>
  </div>